<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Ruby with Docker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <meta name="author" content="i12bretro">
    <meta name="description" content="Ruby with Docker">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="revised" content="04/11/2024" />
    <link rel="icon" type="image/x-icon" href="includes/favicon.ico">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="gridContainer">
      <div class="topMargin"></div>
      <div id="listName" class="topMargin">
        <h1>Ruby with Docker</h1>
      </div>
      <div></div>
      <div>
        <h2>Ruby 💎</h2>
        <p>Ruby is a dynamic, open-source programming language focused on simplicity and productivity. It's object-oriented, flexible, and supported by a vibrant community.</p>

        <h2>Docker 🐳</h2>
        <p>Dockerizing Ruby applications ensures consistency across environments, simplifies deployment, and manages dependencies efficiently.</p>

        <h2>Advantages 🌟</h2>
        <ol>
            <li>Consistency: Your Ruby app runs the same in every environment.</li>
            <li>Simplified Dependencies: Easily manage gems and versions in isolated containers.</li>
            <li>Rapid Deployment: Quickly scale and deploy with Docker containers.</li>
        
        </ol>
      </div>
    </div>
  </body>
</html>